In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [50]:
df = pd.read_csv("../Changes_in_PA/data/OAI/merged_three_OAI.csv")
print(df.shape)

print("PASE baseline, number of NaN:", df.V00PASE.isna().sum())
print("PASE followup, number of NaN:", df.V01PASE.isna().sum())

(4308, 1817)
PASE baseline, number of NaN: 0
PASE followup, number of NaN: 0

In [51]:
dfg = pd.read_stata("data/GLAD/GladWithRejion_030323_updated.dta")
print(dfg.shape)

(66215, 1240)

In [52]:
df.V00AGE.describe()

count    4308.000000
mean       61.169452
std         9.166295
min        45.000000
25%        53.000000
50%        61.000000
75%        69.000000
max        79.000000
Name: V00AGE, dtype: float64

In [53]:
dfg.age.describe()

count    66215.000000
mean        65.566186
std          9.904173
min         15.000000
25%         59.000000
50%         66.000000
75%         73.000000
max        100.000000
Name: age, dtype: float64

In [54]:
# Remove NaN value from UCLA in GLAD:
dfg = dfg.dropna(subset=['ptb_4145', 'pt12_4145'])
print("GLAD shape:",dfg.shape)
print("Number of Nan Value in baseline:", dfg.ptb_4145.isna().sum())
print("Number of Nan Value in followup:", dfg.pt12_4145.isna().sum())

GLAD shape: (30484, 1240)
Number of Nan Value in baseline: 0
Number of Nan Value in followup: 0

In [67]:
dfg.age.describe()

count    30484.000000
mean        65.393977
std          9.101285
min         23.000000
25%         60.000000
50%         66.000000
75%         72.000000
max         92.000000
Name: age, dtype: float64

In [55]:
########### create new variable of knee pain (left knee) knee pain (right knee) in OAI to compare with VAS in GLAD
df['womac_knee_pain'] = np.where(df['V00WOMTSL'] > df['V00WOMTSR'], df['V00WOMTSL'], df['V00WOMTSR'])

df

,ID,V00BLDCOLL,V00BLDHRS1,V00BLDHRS2,V00BLDRAW1,V00BLDRAW2,V00BLSURD1,V00BLSURD2,V00CITRATE,V00EDTA,...,V08IMAGESF,V08IMAGESG,V10IMAGESA,V10IMAGESB,V10IMAGESC,V10IMAGESD,V10IMAGESE,V10IMAGESF,V10IMAGESG,womac_knee_pain
0,b'9000099',1.0,35400.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,14.0000
1,b'9000296',1.0,30780.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0000
2,b'9000622',1.0,33900.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,20.8750
3,b'9000798',1.0,26400.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,30.0000
4,b'9001104',1.0,35100.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,33.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4303,b'9999295',2.0,NaN,28800.0,0.0,1.0,NaN,NaN,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0000
4304,b'9999365',1.0,27600.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,27.0000
4305,b'9999862',1.0,30600.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0000
4306,b'9999865',1.0,36600.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0000
4307,b'9999878',1.0,27900.0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.1875

In [56]:
############# Create new variable for Employment status in OAI
# Values we are interested in OAI:
valid_values = [1, 3, 4]
# 1: Works for pay 
# 3: Not working in part due to health 
# 4: Not working other reasons

# Create a new column 'employment_status' with the filtered values from 'V00CEMPLOY'
# We use .where() to assign NaN or other values to cases where 'V00CEMPLOY' is not in the list of valid values
df['mapped_employment_status'] = df['V00CEMPLOY'].where(df['V00CEMPLOY'].isin(valid_values))

In [57]:
############# Create new variable for Employment status in GLAD
# Values we are interested in GLAD:
valid_values = [1, 5, 2]
# 1 Employed/student
# 5 Unemployed
# 2 On sick leave full time

# Create a new column 'employment_status' with the filtered values from 'V00CEMPLOY'
# We use .where() to assign NaN or other values to cases where 'V00CEMPLOY' is not in the list of valid values
dfg['mapped_employment_status'] = dfg['ptb_3777'].where(dfg['ptb_3777'].isin(valid_values))

/var/folders/rn/9h9wnd_x13930h39r4t9tt_w0000gr/T/ipykernel_24037/1500982184.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfg['mapped_employment_status'] = dfg['ptb_3777'].where(dfg['ptb_3777'].isin(valid_values))

In [58]:
######### Move some columns to the end ############
# Get a list of all columns except the ones we want to move to the end
columns = [col for col in df.columns if col not in ['V00WOMTSL', 'V00WOMTSR', 'womac_knee_pain']]

# Append the specific columns to the end of the list
columns.extend(['V00WOMTSL', 'V00WOMTSR', 'womac_knee_pain'])

# Reorder the DataFrame based on the new columns order
df = df[columns]

# Verify the new order of columns (You can comment this out in your final script)
print(df.columns)

Index(['ID', 'V00BLDCOLL', 'V00BLDHRS1', 'V00BLDHRS2', 'V00BLDRAW1',
       'V00BLDRAW2', 'V00BLSURD1', 'V00BLSURD2', 'V00CITRATE', 'V00EDTA',
       ...
       'V10IMAGESB', 'V10IMAGESC', 'V10IMAGESD', 'V10IMAGESE', 'V10IMAGESF',
       'V10IMAGESG', 'mapped_employment_status', 'V00WOMTSL', 'V00WOMTSR',
       'womac_knee_pain'],
      dtype='object', length=1819)

In [59]:
######### Educational status ############


############### Map for OAI educational system in df
us_education_map = {
    1: 1,  # High school graduate
    2: 2,  # Some college
    3: 3,  # College graduate
    4: 3,  # Some graduate school (assuming less than a full degree)
    5: 4   # Graduate degree
}

# Apply mapping in df
df['mapped_education'] = df['V00EDCV'].map(us_education_map)

############# Map for GLA:D educational system in dfg
denmark_education_map = {
    1: 0,  # Primary school
    2: 1,  # Secondary school
    3: 2,  # Short-term education
    4: 3,  # Middle-term education
    5: 4   # Long-term education
}

# Apply mapping in dfg
dfg['mapped_education'] = dfg['ptb_10226'].map(denmark_education_map)

/var/folders/rn/9h9wnd_x13930h39r4t9tt_w0000gr/T/ipykernel_24037/1305917622.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mapped_education'] = df['V00EDCV'].map(us_education_map)
/var/folders/rn/9h9wnd_x13930h39r4t9tt_w0000gr/T/ipykernel_24037/1305917622.py:26: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  dfg['mapped_education'] = dfg['ptb_10226'].map(denmark_education_map)

In [60]:
# create new dataframe with selected vriables in OAI and GLAD
df_oai = df[["V00AGE", "P02SEX", "P01BMI", "mapped_education", "V00SMKNOW", "mapped_employment_status", "womac_knee_pain", "V00HRTAT", "V00KOOSQOL"]]
df_glad = dfg[["age", "gender", "fysb_BMI", "mapped_education", "ptb_13118", "mapped_employment_status", "ptb_3764", "ptb_comorbidities_8", "ptb_koos_qol_score"]]
print("OAI shape:", df_oai.shape)
print("GLAD shape:", df_glad.shape)

OAI shape: (4308, 9)
GLAD shape: (30484, 9)

In [61]:
# number of missing values in OAI  and  GLAD after creating new variables and new dataframe
print("OAI columns:")
print(df_oai.isna().sum())
print("----------------------------------")
print("GLAD columns:")
print(df_glad.isna().sum())

OAI columns:
V00AGE                         0
P02SEX                         0
P01BMI                         4
mapped_education             156
V00SMKNOW                   2326
mapped_employment_status      68
womac_knee_pain               18
V00HRTAT                      95
V00KOOSQOL                     1
dtype: int64
----------------------------------
GLAD columns:
age                             0
gender                          0
fysb_BMI                      133
mapped_education             4628
ptb_13118                     301
mapped_employment_status    20089
ptb_3764                       34
ptb_comorbidities_8         27807
ptb_koos_qol_score           8365
dtype: int64

In [62]:
# Remove nan value from both dataframe
df_oai.dropna(inplace=True)
print("oai shape after remove nan:", df_oai.shape)

df_glad.dropna(inplace=True)
print("glad shape after remove nan:", df_glad.shape)

oai shape after remove nan: (1840, 9)
glad shape after remove nan: (0, 9)

/var/folders/rn/9h9wnd_x13930h39r4t9tt_w0000gr/T/ipykernel_24037/3484485005.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_oai.dropna(inplace=True)
/var/folders/rn/9h9wnd_x13930h39r4t9tt_w0000gr/T/ipykernel_24037/3484485005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_glad.dropna(inplace=True)

In [63]:
df_oai

,V00AGE,P02SEX,P01BMI,mapped_education,V00SMKNOW,mapped_employment_status,womac_knee_pain,V00HRTAT,V00KOOSQOL
1,69.0,1.0,29.8,2.0,0.0,1.0,0.000,0.0,100.00
2,71.0,2.0,22.7,1.0,0.0,4.0,20.875,0.0,50.00
3,56.0,1.0,32.4,2.0,0.0,1.0,30.000,0.0,43.75
8,61.0,1.0,36.5,2.0,0.0,4.0,57.000,0.0,43.75
9,76.0,1.0,25.1,4.0,0.0,4.0,10.000,0.0,75.00
...,...,...,...,...,...,...,...,...,...
4294,59.0,2.0,24.9,4.0,0.0,1.0,0.000,0.0,87.50
4295,49.0,2.0,33.9,1.0,0.0,1.0,7.000,0.0,81.25
4297,69.0,2.0,32.6,4.0,1.0,4.0,2.000,0.0,62.50
4302,72.0,2.0,19.5,4.0,0.0,4.0,7.000,0.0,87.50
4304,56.0,1.0,30.3,1.0,0.0,1.0,27.000,0.0,18.75

In [64]:
df_glad

Empty DataFrame
Columns: [age, gender, fysb_BMI, mapped_education, ptb_13118, mapped_employment_status, ptb_3764, ptb_comorbidities_8, ptb_koos_qol_score]
Index: []

In [65]:
print(df_glad.shape)
print(df_glad.isna().sum().sum())

(0, 9)
0

In [66]:
dfg.age.describe()

count    30484.000000
mean        65.393977
std          9.101285
min         23.000000
25%         60.000000
50%         66.000000
75%         72.000000
max         92.000000
Name: age, dtype: float64

In [68]:
df.V00AGE.describe()

count    4308.000000
mean       61.169452
std         9.166295
min        45.000000
25%        53.000000
50%        61.000000
75%        69.000000
max        79.000000
Name: V00AGE, dtype: float64

In [71]:
dfg.ptb_koos_qol_score.describe()

count    22119.000000
mean        45.975274
std         15.042374
min          0.000000
25%         37.500000
50%         43.750000
75%         56.250000
max        100.000000
Name: ptb_koos_qol_score, dtype: float64